name: Build Sphinx

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'

jobs:
  build-html:
    name: Update website
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd #v5

    # build the doxygen XML for breathe
    - name: Checkout openchemistry
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd #v5
      with:
        repository: openchemistry/openchemistry
        submodules: recursive
        path: openchemistry

    - name: Checkout openchemistry and avogadrolibs
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd #v5
      with:
        repository: openchemistry/avogadrolibs
        path: openchemistry/avogadrolibs

    - name: Install packages
      run: |
        sudo apt-get -qq update
        sudo apt-get -qq install doxygen graphviz ninja-build libeigen3-dev libglew-dev libxml2-dev

    - name: Install uv
      uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
      with:
        enable-cache: true
        cache-dependency-glob: "uv.lock"

    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
      with:
        python-version-file: ".python-version"

    - name: Install Sphinx and requirements
      run: uv sync

    - name: Install Qt
      uses: jurplel/install-qt-action@d325aaf2a8baeeda41ad0b5d39f84a6af9bcf005 # v4.3.0

    - name: Configure
      run: |
        mv openchemistry ${{ runner.workspace }}
        if [ ! -d "${{ runner.workspace }}/build" ]; then mkdir "${{ runner.workspace }}/build"; fi
        cd "${{ runner.workspace }}/build"
        cmake ${{ runner.workspace }}/openchemistry -G "Ninja" -DBUILD_DOCUMENTATION=ON -DUSE_SYSTEM_LIBXML2=ON -DUSE_SYSTEM_ZLIB=ON -DBUILD_GPL_PLUGINS=ON -DBUILD_MOLEQUEUE=OFF -DWITH_COORDGEN=OFF -DQT_VERSION=6 -DUSE_YAEHMOP=ON
      shell: bash

    - name: Build doxygen
      run: |
        ninja || true # might fail with warnings
        cd avogadrolibs
        ninja documentation
      shell: bash
      working-directory: ${{ runner.workspace }}/build

    - name: Build Sphinx
      run: |
        cd source
        uv run sphinx-build -j auto -E . ../public
        cd ..
        git status
      shell: bash

    - name: Setup tmate session
      if: ${{ failure() }}
      uses: mxschmitt/action-tmate@c0afd6f790e3a5564914980036ebf83216678101 # v3.23
      timeout-minutes: 30

    - name: Deploy to gh-pages
      uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4
      # If you're changing the branch from main,
      # also change the `main` in `refs/heads/main`
      # below accordingly.
      if: github.ref == 'refs/heads/main'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
