name: Build Sphinx

on: 
  workflow_dispatch:
  push:
    branches:    
      - 'main'

jobs:
  build-html:
    name: Update website
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@v4

# build the doxygen XML for breathe
    - name: Checkout openchemistry
      uses: actions/checkout@v4
      with:
        repository: openchemistry/openchemistry
        submodules: recursive
        path: openchemistry

    - name: Checkout openchemistry and avogadrolibs
      uses: actions/checkout@v4
      with:
        repository: openchemistry/avogadrolibs
        path: openchemistry/avogadrolibs

    - name: Install packages
      run: |
        sudo apt-get -qq update
        sudo apt-get -qq install doxygen ninja-build libeigen3-dev libglew-dev libxml2-dev qtbase5-dev qtchooser qt5-qmake qtbase5-dev-tools libqt5x11extras5-dev libqt5svg5-dev

    - name: Install Sphinx and requirements
      run: |
        pip install -U breathe>=4.35.0 linkify-it-py>=2.0.3 myst-parser>=4.0.0 pydata-sphinx-theme>=0.15.4 sphinx>=8.0.2 sphinx-copybutton>=0.5.2 sphinx-design>=0.6.1 sphinxext-rediraffe>=0.2.7 sphinx-togglebutton>=0.3.2

    - name: Configure
      run: |
        mv openchemistry ${{ runner.workspace }}
        if [ ! -d "${{ runner.workspace }}/build" ]; then mkdir "${{ runner.workspace }}/build"; fi
        cd "${{ runner.workspace }}/build"
        cmake ${{ runner.workspace }}/openchemistry -G "Ninja" -DBUILD_DOCUMENTATION=ON -DUSE_SYSTEM_LIBXML2=ON -DUSE_SYSTEM_ZLIB=ON
      shell: bash

    - name: Build doxygen
      run: |
        ninja
        cd avogadrolibs
        ninja documentation
      shell: bash
      working-directory: ${{ runner.workspace }}/build

    - name: Build Sphinx
      run: |
        cd source
        sphinx-build -j auto -E . ../public
        cd ..
        git status
      shell: bash

    - name: Setup tmate session
      if: ${{ failure() }}
      uses: mxschmitt/action-tmate@v3

    - name: Deploy to gh-pages
      uses: peaceiris/actions-gh-pages@v3
      # If you're changing the branch from main,
      # also change the `main` in `refs/heads/main`
      # below accordingly.
      if: github.ref == 'refs/heads/main'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
